---
import { fetchFiles } from "../utils/fetchFiles";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import { getFileUrl } from "../utils/getFileUrl";

const LAZY_LOAD_IMAGE_THRESHOLD = 20;
const files = await fetchFiles();
---

<Layout title="Best License Plates">
	<main class="flex justify-center bg-neutral-900 pt-16">
		<div class="max-w-7xl flex flex-wrap gap-8">
			{
				files.map(({ fileName }, index) => (
					<Image
						width="400"
						height="534"
						loading={index > LAZY_LOAD_IMAGE_THRESHOLD ? "lazy" : "eager"}
						format="webp"
						decoding="async"
						src={getFileUrl(fileName)}
						alt={fileName}
						class:list={[
							"border border-neutral-800 rounded-lg shadow-lg shadow-neutral-800 inline-block",
						]}
					/>
				))
			}
		</div>
	</main>
</Layout>

<style></style>
